.login-form {
  border: 2px solid black;
  border-radius: 1em;
  display: inline-block;
  text-align: center;
  justify-content: center;
  margin-left: 40%;
  margin-top: 25%;
  padding: 1em;
  background-color: blanchedalmond;
}
